/*================ CONTACT ================*/

.contact{

display:grid;

grid-template-columns:1fr 1fr;

gap:80px;

background:var(--section);

}

.contact-description{

font-size:18px;

line-height:2;

color:var(--text);

margin:25px 0 45px;

max-width:500px;

}

.contact-info{

display:flex;

flex-direction:column;

gap:25px;

margin-bottom:40px;

}

.info{

display:flex;

gap:20px;

align-items:flex-start;

}

.info svg{

font-size:22px;

color:var(--accent);

margin-top:6px;

}

.info h4{

margin-bottom:8px;

font-size:20px;

}

.info p{

color:var(--text);

}

.contact-social{

display:flex;

gap:18px;

}

.contact-social a{

width:55px;

height:55px;

background:white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

box-shadow:var(--shadow);

font-size:22px;

transition:.3s;

}

.contact-social a:hover{

background:var(--primary);

color:white;

}

.contact-right{

background:white;

padding:45px;

border-radius:30px;

box-shadow:var(--shadow);

}

.contact-right form{

display:flex;

flex-direction:column;

gap:20px;

}

.contact-right input,

.contact-right textarea{

padding:18px;

border:1px solid var(--border);

border-radius:16px;

font-size:16px;

font-family:inherit;

outline:none;

}

.contact-right input:focus,

.contact-right textarea:focus{

border-color:var(--primary);

}

.contact-right button{

margin-top:10px;

}

@media(max-width:1000px){

.contact{

grid-template-columns:1fr;

gap:50px;

}

.contact-right{

padding:30px;

}

}