/*================ FOOTER ================*/

.footer{

padding:120px 9% 50px;

background:#EFE7DC;

}

.footer-top{

text-align:center;

margin-bottom:90px;

}

.footer-tag{

letter-spacing:3px;

font-size:14px;

font-weight:700;

color:var(--accent);

margin-bottom:20px;

}

.footer-top h2{

font-size:58px;

line-height:1.25;

max-width:900px;

margin:auto;

}

.footer-middle{

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:60px;

padding-bottom:70px;

border-bottom:1px solid var(--border);

}

.footer-brand h1{

font-size:90px;

color:var(--primary);

margin-bottom:15px;

}

.footer-brand p{

line-height:1.9;

color:var(--text);

}

.footer-links,

.footer-social{

display:flex;

flex-direction:column;

gap:18px;

}

.footer-links h4,

.footer-social h4{

margin-bottom:12px;

font-size:22px;

}

.footer-links a,

.footer-social a{

transition:.3s;

color:var(--text);

}

.footer-links a:hover,

.footer-social a:hover{

color:var(--primary);

padding-left:8px;

}

.footer-bottom{

margin-top:35px;

display:flex;

justify-content:space-between;

align-items:center;

}

.footer-bottom p{

color:var(--text);

}

.footer-bottom button{

width:55px;

height:55px;

border:none;

border-radius:50%;

background:var(--primary);

color:white;

font-size:20px;

cursor:pointer;

transition:.35s;

}

.footer-bottom button:hover{

background:var(--accent);

transform:translateY(-5px);

}

@media(max-width:900px){

.footer-top h2{

font-size:40px;

}

.footer-middle{

grid-template-columns:1fr;

}

.footer-bottom{

flex-direction:column;

gap:25px;

}

}