/*================ PROJECTS ================*/

.projects{

background:var(--section);

}

.projects-heading{

margin-bottom:80px;

}

.project{

display:grid;

grid-template-columns:1fr 1fr;

gap:70px;

align-items:center;

margin-bottom:120px;

}

.project.reverse{

direction:rtl;

}

.project.reverse .project-content{

direction:ltr;

}

.project-image img{

width:70%;

max-width:400px;

height:250px;

object-fit:cover;

border-radius:20px;

}

.project-year{

display:inline-block;

margin-bottom:15px;

color:var(--accent);

font-weight:700;

letter-spacing:2px;

}

.project-content h2{

font-size:52px;

margin-bottom:20px;

}

.project-content p{

line-height:2;

font-size:18px;

color:var(--text);

margin-bottom:25px;

}

.project-content ul{

margin-bottom:30px;

}

.project-content li{

margin-bottom:10px;

font-size:17px;

color:var(--text);

}

.tech{

display:flex;

flex-wrap:wrap;

gap:12px;

margin-bottom:35px;

}

.tech span{

padding:12px 20px;

background:white;

border-radius:40px;

border:1px solid var(--border);

font-weight:600;

}

.project-buttons{

display:flex;

gap:18px;

}

.project-buttons .primary-btn{

gap:10px;

}

.project-buttons .secondary-btn{

gap:10px;

}

@media(max-width:1000px){

.project{

grid-template-columns:1fr;

gap:40px;

}

.project.reverse{

direction:ltr;

}

.project-content h2{

font-size:38px;

}

}

@media(max-width:600px){

.project-buttons{

flex-direction:column;

}

.project-content h2{

font-size:32px;

}

}