/*================ SKILLS ================*/

.skills{

    padding:120px 9%;
    background:var(--bg);

}

.skills-heading{

    max-width:700px;
    margin-bottom:70px;

}

.skills-heading p:last-child{

    font-size:18px;
    line-height:1.8;
    color:var(--text);
    margin-top:20px;

}

/* ONE CARD BELOW ANOTHER */

.skills-wrapper{

    display:flex;
    flex-direction:column;
    gap:35px;

}

/* CARD */

.skill-category{

    background:white;
    padding:40px;
    border-radius:28px;
    box-shadow:var(--shadow);
    transition:.35s;
    width:100%;

}

.skill-category:hover{

    transform:translateY(-6px);

}

.skill-category h3{

    font-size:34px;
    color:var(--primary);
    margin-bottom:30px;

}

/* SKILL TAGS */

.skill-tags{

    display:flex;
    flex-wrap:wrap;
    gap:16px;

}

.skill-tags span{

    padding:12px 22px;
    border-radius:40px;
    background:#F7F3EC;
    border:1px solid var(--border);
    font-size:15px;
    font-weight:600;
    transition:.3s;
    cursor:pointer;

}

.skill-tags span:hover{

    background:var(--primary);
    color:white;
    border-color:var(--primary);

}

/* RESPONSIVE */

@media(max-width:768px){

    .skills{

        padding:90px 5%;

    }

    .skill-category{

        padding:30px;

    }

    .skill-category h3{

        font-size:28px;

    }

    .skill-tags{

        gap:12px;

    }

    .skill-tags span{

        font-size:14px;
        padding:10px 18px;

    }

}