.story{

background:var(--bg);

}

.story-heading{

margin-bottom:80px;

max-width:700px;

}

.story-container{

display:flex;

flex-direction:column;

gap:40px;

}

.story-item{

display:grid;

grid-template-columns:180px 1fr;

gap:40px;

align-items:flex-start;

padding-bottom:40px;

border-bottom:1px solid var(--border);

}

.story-year{

font-size:42px;

font-family:"DM Serif Display";

color:var(--primary);

}

.story-content h3{

font-size:34px;

margin-bottom:18px;

}

.story-content p{

line-height:2;

font-size:18px;

color:var(--text);

max-width:700px;

}

@media(max-width:768px){

.story-item{

grid-template-columns:1fr;

gap:15px;

}

.story-year{

font-size:30px;

}

.story-content h3{

font-size:26px;

}

}